.contact-wrap {
    background: #0b0b1a;
}

.contact-heading h3 {
    font-family: 'Catamaran', sans-serif;
    font-size: 60px;
    font-weight: 700;
}

.form_wrapper {
    width: 580px;
    padding: 25px 0 70px 0;
}

@media screen and (max-width: 768px) {
    .contact-heading h3 {
        font-family: 'Catamaran', sans-serif;
        font-size: 48px;
        font-weight: 700;
    }
    
    .form_wrapper {
        width: 420px;
        padding: 25px 0 70px 0;
    }
}
@media screen and (max-width: 480px) {    
    .form_wrapper {
        width: 320px;
        padding: 25px 0 70px 0;
    }
}

.form_wrapper .form-control {
    display: block;
    width: 100%;
    padding: 0.75rem 0.75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #ededed;
    background-color: #ffffff24;
    background-clip: padding-box;
    border: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border-radius: 0.25rem;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

.form-label {
    font-size: .876rem;
    font-weight: 500;
    color: #9d9da2;
}

.send-button {
    font-size: 13px;
    font-weight: 700;
    letter-spacing: 1.63px;
    text-transform: uppercase;
    padding: 23px 30px;
    box-shadow: rgb(3 3 3 / 12%) 0px 32px 54px;
    border-radius: 50rem;
    display: inline-flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    justify-content: space-between;
    gap: 13px;
    user-select: none;
    transform: perspective(1px) translateZ(0px);
    position: relative;
    overflow: hidden;
    border: none;
    white-space: nowrap;
    color: rgb(255, 255, 255);
    background-color: rgb(86, 179, 129);
    transition: all 0.4s ease-out 0s;
    outline: none !important;
}