.skill-area, .expertise {
    background: #fafbfd;
}

.expertise {
    position: relative;
    padding: 30px 0 80px;
}

.skill-logo {
    width: 80px;
    height: auto;
}

.flex-gap {
    gap: 30px;
}

.experience-card {
    width: 230px;
    height: 210px;
    border: none;
    transition: all .23s;
}
.experience-card h6 {
    font-weight: 600;
}

.experience-card:hover {
    color: #fafbfd;
    background: #1c2b4a;    
}

@media screen and (max-width: 768px) {
    .skill-logo {
        width: 45px;
    }
    .experience-card {
        width: 180px;
        height: 140px;
        border: none;
        transition: all .43s;
    }
    .experience-card h6 {
        font-size: .65rem;
        font-weight: 600;
    }
}